{{!< default}}
<div class="container">
	<div class="jumbotron">
		{{!-- <img src="/images/logo.svg" width="160"> --}}
		<h1>XX学院欢迎您</h1>
		<p>
			XX学校简介

XX学校地处XXXXXX，始建于 XXX 年，是一所XXXX学校。学校占地 XXX 平方米，布局合理，教学区、活动区划分明晰；校舍建筑面积 XXX 平方米，校园洁、静、绿、 美，环境优雅。 学校有微机室、理化生实验仪器室、图书及图书阅览室、语音室、美术室、音乐室、体育室、劳

动室、卫生室等。微机室新配微机 XXX 台；图书室藏书 10000 册，人均达 70 册，每年均添购图书 300 册左右，并订报刊杂志 10 余种；各室实验器材基本齐全，并逐年提高，能够满足教学的需要。 学校现有教职工 XXXX 人，其中专任教师 XXXX 人，全面推进素质教育，全面提高教育教学质量并以“创全面发展之优，领素质教育之先，走高水 平发展之路”为总目标，跨步前行。

不断改善的办学条件
		</p>
		<p>
			校址： 校址：xxxxxxxxxx
		</p>
		<p>
联系电话：xxxx
		</p>
		<p>
Email：xxxx
		</p>
		{{!-- <p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p> --}}
		<hr>
		{{!-- <p>We have created a default Admin user for you with the email <strong>lbhappyworld1@163.com</strong> and the password <strong>123456</strong>.</p> --}}
		{{!-- <p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">个人登录</a> to use the Admin UI.</p> --}}
		<hr>
		{{!-- <p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p> --}}
	</div>
</div>
